.Thebody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
}
.styleLogo {
    float: left;
    width: 130px;
    height: 75px;
}

.login-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 30px;
}

.login-form {
    margin-top: 20px;
    text-align: right; /* Aligne tout le contenu à droite */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100px; /* plus petit */
    padding: 5px;  /* réduit le padding */
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    border-radius: 5px;
    /* display: inline-block; pour s'assurer qu'ils restent en ligne si besoin */
}

.login-form button {
    padding: 5px 10px; /* plus petit */
    margin: 5px;
    background-color: #1c87c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0e002b;
}




/* FOOTER */


.site-footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
